<h1>Workout List</h1>
<p class="message" id="addMessage"></p>
<form>
	<fieldset>
		<legend>Edit Item</legend>
		<ul style="list-style-type: none;">
			<li>
				<label>Name: </label>
				<input type="text" name="name" id="name" value={{name}}>
			</li>
			<li>
				<label>Reps: </label>
				<input type="text" name="reps" id="reps" value={{reps}}>
			</li>
			<li>
				<label>Weight: </label>
				<input type="text" name="weight" id="weight" value={{weight}}>
				<select id="unit" name="unit">
					<option value=""></option>
					<option value="lbs" {{lbs}}>lbs</option>
					<option value="kg"  {{kg}}>kg</option>
				</select>
			</li>
			<li>
				<label>Date: </label>
				<input type="date" name="date" id="date" value={{date}}>
			</li>
			<li>
				<input type="hidden" name="id" id="id" value={{id}}>
			</li>
			<input type="submit" id="updateSubmit">
		</ul>
	</fieldset>
</form>
 <script src="edit.js"></script>