{{>header}}
<h3 id="status"></h3>
<form>
	<fieldset>
		<legend>Edit Customer</legend>
		<ul style="list-style-type: none;">
			<li>
				<label>First Name: {{first_name}}</label>
				<input type="text" name="first_name" id="first_name" value='{{first_name}}' hidden = "hidden">
			</li>
			<li>
				<label>Last Name: {{last_name}}</label>
				<input type="text" name="last_name" id="last_name" value='{{last_name}}' hidden = "hidden">
			</li>
			<li>
				<label>Street: </label>
				<input type="text" name="street" id="street" value='{{street}}'>
			</li>
			<li>
				<label>City: </label>
				<input type="text" name="city" id="city" value='{{city}}'>
			</li>
			<li>
				<label>State: </label>
				<select name="state" size="1">
				 <option value="{{state}}" hidden="hidden" selected="selected">{{state}}</option>
				  <option value="AK">AK</option>
				  <option value="AL">AL</option>
				  <option value="AR">AR</option>
				  <option value="AZ">AZ</option>
				  <option value="CA">CA</option>
				  <option value="CO">CO</option>
				  <option value="CT">CT</option>
				  <option value="DC">DC</option>
				  <option value="DE">DE</option>
				  <option value="FL">FL</option>
				  <option value="GA">GA</option>
				  <option value="HI">HI</option>
				  <option value="IA">IA</option>
				  <option value="ID">ID</option>
				  <option value="IL">IL</option>
				  <option value="IN">IN</option>
				  <option value="KS">KS</option>
				  <option value="KY">KY</option>
				  <option value="LA">LA</option>
				  <option value="MA">MA</option>
				  <option value="MD">MD</option>
				  <option value="ME">ME</option>
				  <option value="MI">MI</option>
				  <option value="MN">MN</option>
				  <option value="MO">MO</option>
				  <option value="MS">MS</option>
				  <option value="MT">MT</option>
				  <option value="NC">NC</option>
				  <option value="ND">ND</option>
				  <option value="NE">NE</option>
				  <option value="NH">NH</option>
				  <option value="NJ">NJ</option>
				  <option value="NM">NM</option>
				  <option value="NV">NV</option>
				  <option value="NY">NY</option>
				  <option value="OH">OH</option>
				  <option value="OK">OK</option>
				  <option value="OR">OR</option>
				  <option value="PA">PA</option>
				  <option value="RI">RI</option>
				  <option value="SC">SC</option>
				  <option value="SD">SD</option>
				  <option value="TN">TN</option>
				  <option value="TX">TX</option>
				  <option value="UT">UT</option>
				  <option value="VA">VA</option>
				  <option value="VT">VT</option>
				  <option value="WA">WA</option>
				  <option value="WI">WI</option>
				  <option value="WV">WV</option>
				  <option value="WY">WY</option>
				</select>
			</li>
			<li>
				<label>Zip: </label>
				<input type="text" name="zip" id="zip" value='{{zip}}'>
			</li>
			<li>
				<label>Phone: </label>
				<input type="text" name="phone" id="phone" value='{{phone}}'>
			</li>
			<li>
				<label>Emergency Phone: </label>
				<input type="text" name="emergency_phone" id="emergency_phone" value='{{emergency_phone}}'>
			</li>
			<li>
				<input type="hidden" name="id" id="id" value={{id}} readonly>
			</li>
			<input type="submit" id="editSubmit" value = "Change" >
		</ul>
	</fieldset>
</form>
 <script src="edit.js"></script>