{{>header}}
<h3 id="error">{{error}}</h3>
<form action="/editServiceType" method = "post">
	<fieldset>
		<legend>Edit Service Type</legend>
		<ul style="list-style-type: none;">
			<li>
				<label>Name:<span class="manditoryField">*</span> </label>
				<input type="text" name="label" id="label" value='{{label}}'>
			</li>
			<li>
				<label>Description</label>
			</li>
			<li>
				<textarea name="description" id="description" rows="10" cols="30">{{description}}</textarea>
			</li>
			<li>
				<label>Cost:<span class="manditoryField">*</span> </label>
				<input type="text" name="cost" id="cost" value= {{cost}}>
			</li>
			<li>
				<input type="hidden" name="id" id="id" value={{id}}>
			</li>
			<input type="submit" id="editSubmit" value= "Change">
		</ul>
	</fieldset>
</form>